<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.kobus.spring.mapper.join.JoinMapper">


	<insert id="insert"
		parameterType="org.kobus.spring.domain.join.JoinDTO">
		INSERT INTO kobusUser
		(kusID, tel, subEmail, id, passwd, birth, gender, rank, mil, status,
		joinDate)
		VALUES
		('KUS' || LPAD(kobusUser_seq.NEXTVAL, 3, '0'),
		#{tel}, #{subEmail}, #{id}, #{passwd},
		TO_DATE(#{birth}, 'YYYY'), CASE
		WHEN #{gender} = '남자' THEN 1
		WHEN #{gender} = '여자' THEN 2
		ELSE 0
		END, '회원', 0, 'Y',
		TO_DATE(#{joinDate}, 'YYYY-MM-DD'))
	</insert>

	<insert id="insertAuth"
		parameterType="org.kobus.spring.domain.join.AuthDTO">
		INSERT INTO kouserAuthorities
		(username, authority)
		VALUES
		(#{username}, 'ROLE_USER')
	</insert>

	<select id="idDupCheck" resultType="String">
		SELECT id FROM kobususer
		WHERE id = #{id}
	</select>


</mapper>