<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="org.kobus.spring.mapper.pay.SeasonPaymentMapper">
    
	    <!-- 공통 결제 정보 -->
	<insert id="insertPaymentCommon" parameterType="org.kobus.spring.domain.pay.STPaymentSet">
	
		<selectKey keyProperty="paymentId" resultType="String" order="BEFORE">
		    SELECT CONCAT('PAY', LPAD(SEQ_PAYMENT_COMMON.NEXTVAL, 8, '0')) FROM DUAL
		</selectKey>
	
	    INSERT INTO payment_common (
	        payment_id, imp_uid, merchant_uid, pay_method,
	        amount, pay_status, pg_tid, paid_at
	    ) VALUES (
	        #{paymentId}, #{impUid}, #{merchantUid}, #{payMethod},
	        #{amount}, #{payStatus}, #{pgTid}, #{paidAt}
	    )
	</insert>
	
	<insert id="insertSeasonTicketPayment" parameterType="org.kobus.spring.domain.pay.STPaymentSet">

    <!-- 1. 정기권 결제 ID 생성 -->
    <selectKey keyProperty="seasonPayId" resultType="String" order="BEFORE">
        SELECT CONCAT('STP', LPAD(SEQ_SEASON_TICKET_PAYMENT.NEXTVAL, 8, '0')) FROM DUAL
    </selectKey>

    <!-- 2. 정기권 결제 정보 insert -->
    INSERT INTO season_ticket_payment (
        season_pay_id,
        payment_id,
        kusid,
        adtn_prd_sno,
        start_date
    ) VALUES (
        #{seasonPayId},
        #{paymentId},
        #{kusid},
        #{adtnPrdSno},
        #{startDate}
    )

	</insert>

</mapper>